<section class="hero is-fullheight-with-navbar">
  <div class="hero-body" style="align-items: stretch;">
    <div class="container">
      <div class="columns is-gapless" style="height: 100%;" data-controller="frame-loader">
        <div class="column is-narrow" style="max-height: 100%; max-width: 36%; overflow-y: auto;">
          <h1 class="title mb-3 mr-3">Sent Messages</h1>
          <div class="mb-3">
            <%= button_to "Clear Inbox", project_clear_inbox_path(@project), method: :delete, class: "button is-small is-warning", data: {confirm: "Are you sure you want to clear the inbox?"}, remote: true, form: {style: "display: inline-block;"} %>
            <%= button_tag "Refresh Inbox", type: :button, class: "button is-small", data: {action: "frame-loader#load", frame_loader_id_param: "messages", frame_loader_path_param: project_messages_path(@project)} %>
          </div>

          <!-- placeholder where list of messages to view is placed -->
          <div id="message-list">
            <turbo-frame id="messages" src="<%= project_messages_path(@project) %>" data-frame-loader-target="frame">
              Loading messages list...
            </turbo-frame>
          </div>
        </div>

        <div class="column" style="min-height: 100%; border-left: 2px solid var(--bulma-background);">
          <div style="padding: 0 1rem;">
            <small class="is-float-right"><%= link_to "Back to Projects List", root_path %></small>
            <h1 class="title mb-3">Message Viewer</h1>

            <!-- placeholder where view for message content is placed -->
            <turbo-frame id="message-view" data-frame-loader-target="frame">
              <p>No message currently being viewed.</p>
            </turbo-frame>
          </div>

          <small>
            <%#= link_to "Sign Out", logout_path, method: :delete %>
          </small>
        </div>
      </div>
    </div>
  </div>
</section>
